@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="flex justify-center items-center min-h-screen">
    <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-lg border border-gray-200">
        <h3 class="text-2xl font-bold text-gray-900 mb-6 text-center">Register</h3>
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="mb-4">
                <label asp-for="Username" class="block text-gray-900 font-semibold mb-2">Username</label>
                <input asp-for="Username" class="form-control w-full p-3 rounded-lg bg-gray-100 text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600" />
                <span asp-validation-for="Username" class="text-red-400 text-sm"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Password" class="block text-gray-900 font-semibold mb-2">Password</label>
                <input asp-for="Password" type="password" id="password" class="form-control w-full p-3 rounded-lg bg-gray-100 text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600" />
                <span asp-validation-for="Password" class="text-red-400 text-sm"></span>
            </div>
            <div class="mb-4">
                <h2 class="mb-2 text-lg font-semibold text-gray-900">Password requirements:</h2>
                <ul id="password-requirements" class="max-w-md space-y-1 text-gray-500 list-inside">
                    <li class="flex items-center" id="req-length">
                        <svg class="w-3.5 h-3.5 me-2 flex-shrink-0 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.5 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        At least 14 characters
                    </li>
                    <li class="flex items-center" id="req-lowercase">
                        <svg class="w-3.5 h-3.5 me-2 flex-shrink-0 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.5 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        At least one lowercase character
                    </li>
                    <li class="flex items-center" id="req-uppercase">
                        <svg class="w-3.5 h-3.5 me-2 flex-shrink-0 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.5 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        At least one uppercase character
                    </li>
                    <li class="flex items-center" id="req-special">
                        <svg class="w-3.5 h-3.5 me-2 flex-shrink-0 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.5 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        At least one special character, e.g., ! $ # ?
                    </li>
                </ul>
            </div>
            <div class="flex justify-between space-x-4">
                <button type="submit" class="flex items-center bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-4 rounded-lg shadow-md transition-shadow duration-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2">
                    <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6.707 14.707a1 1 0 010-1.414L9.586 10 6.707 7.121a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a 1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                    </svg>
                    Register
                </button>

                <form method="get" action="/Submit" class="flex items-center bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-4 rounded-lg shadow-md transition-shadow duration-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2">
                    <button type="submit" action="/submit" class="flex items-center bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-4 rounded-lg shadow-md transition-shadow duration-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2">
                        <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M6.707 14.707a1 1 0 010-1.414L9.586 10 6.707 7.121a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a 1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        Or Submit Anonymously
                    </button>
                </form>
            </div>
        </form>
        
    </div>
</div>

@section Scripts {
    <script>
    document.getElementById('password').addEventListener('input', function() {
        var password = this.value;
        var lengthReq = document.getElementById('req-length');
        var lowercaseReq = document.getElementById('req-lowercase');
        var uppercaseReq = document.getElementById('req-uppercase');

        var specialReq = document.getElementById('req-special');

        if (password.length >= 14) {
            lengthReq.classList.add('text-green-500');
            lengthReq.classList.remove('text-gray-500');
        } else {
            lengthReq.classList.add('text-gray-500');
            lengthReq.classList.remove('text-green-500');
        }

        if (/[a-z]/.test(password)) {
            lowercaseReq.classList.add('text-green-500');
            lowercaseReq.classList.remove('text-gray-500');
        } else {
            lowercaseReq.classList.add('text-gray-500');
            lowercaseReq.classList.remove('text-green-500');
        }

        if (/[A-Z]/.test(password)) {
            uppercaseReq.classList.add('text-green-500');
            uppercaseReq.classList.remove('text-gray-500');
        } else {
            uppercaseReq.classList.add('text-gray-500');
            uppercaseReq.classList.remove('text-green-500');
        }
        
        if (/^[!#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/.test(password)) {
            specialReq.classList.add('text-green-500');
            specialReq.classList.remove('text-gray-500');
        } else {
            specialReq.classList.add('text-gray-500');
            specialReq.classList.remove('text-green-500');
        }
    });
</script>
}