@page
@using System.Runtime.InteropServices.JavaScript
@model OpenWhistle.Pages.SubmitModel
@{
  

<div class="flex justify-center items-center min-h-screen ">
    <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-lg border border-gray-200">
        <h3 class="text-2xl font-bold text-gray-900 mb-6 text-center">Submit</h3>
        <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="mb-4">
                <label asp-for="ReportDescription" class="block text-gray-900 font-semibold mb-2">Description (required)</label>
                <textarea asp-for="ReportDescription" class="form-control w-full p-3 rounded-lg bg-gray-100 text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600"></textarea>
                <span asp-validation-for="ReportDescription" class="text-red-400 text-sm"></span>
            </div>
            <div class="mb-4 flex space-x-4">
                <div class="flex-1">
                    <label asp-for="DateOfOccurrence" class="block text-gray-900 font-semibold mb-2">Date (optional)</label>
                    <input asp-for="DateOfOccurrence" class="form-control w-full p-3 rounded-lg bg-gray-100 text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600" type="date" value="@DateTime.Now.Date" />
                    <span asp-validation-for="DateOfOccurrence" class="text-red-400 text-sm"></span>
                </div>
            </div>
            <div class="mb-4 flex space-x-4">
                <div class="flex-1">
                    <label class="block text-gray-900 font-semibold mb-2">Time (optional)</label>
                    <input asp-for="TimeOfOccurence" class="form-control w-full p-3 rounded-lg bg-gray-100 text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600" type="time" min="00:00" max="23:59" value="00:00"/>
                    <span asp-validation-for="TimeOfOccurence" class="text-red-400 text-sm"></span>
                </div>
            </div>
            <div class="mb-4">
                <div class="flex items-center">
                    <input id="link-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="link-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="/privacy" class="text-blue-600 dark:text-blue-500 hover:underline">terms and conditions</a>.</label>
                </div>
            </div>
            <label asp-for="Upload" class="block text-gray-900 font-semibold mb-2">Attachments (optional)</label>
            <div class="flex items-center justify-center w-full mb-4">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500">PDF, SVG, PNG or JPG</p>
                    </div>
                    <input asp-for="Upload" id="dropzone-file" type="file"  accept=".pdf,.png,.jpeg,.jpg,.tiff,.svg" multiple class="hidden"/>
                    <span asp-validation-for="Upload" class="text-red-400 text-sm"></span>
                </label>
            </div>
            <div class="flex justify-between">
                <button type="submit" class="flex items-center bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-4 rounded-lg shadow-md transition-shadow duration-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2">
                    <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6.707 14.707a1 1 0 010-1.414L9.586 10 6.707 7.121a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a 1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                    </svg>
                    Submit
                </button>

            </div>
        </form>
    </div>
</div>


}

